input[id='button'],
.horizontally
{
    display: none;
}

input:checked ~ label > .horizontally
{
    display: inline;
}

input:checked ~ label > .vertically
{
    display: none;
}

input:not(:checked) ~ .cats-page > section > .vertical-view
{
    display: none;
}

input:checked ~ .cats-page > section > .horizontal-view
{
    display: none;
}

input:not(:checked) ~ .cats-page > section 
{
    display: inline-block;
    width: 250px;
}

input:checked ~ .cats-page > section 
{
    display: block;
    width: 600px;
}

input:checked ~ .cats-page > section > img
{
    width: 550px;
    height: 350px;
    margin-left: 25px;
}

input:checked ~ .cats-page > section 
{
    margin: 0 auto 2px;
}

.vertical-view > p
{
    margin: 5px 0 10px 25px;
}

input:checked ~ .cats-page > section > h2
{
    margin-left: 25px;
}

section 
{
    margin: 2px 1px;
    border: 1px solid #dbd9d9;
}

section:hover,
img:hover
{
    box-shadow: 0 0 5px 1px #505050;
    
}

h2:hover
{
    text-shadow: 0 0 5px #fbff00;
    
}

p:hover
{
    text-shadow: 0 0 5px #002fff;
}

h2
{
    margin: 0 0 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

p
{
    margin: 0 0 0 20px;
    color: #a5a5a5;
}
